<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UITableViewCellStyle</key>
	<dict>
		<key>UITableViewCellStyleDefault</key>
		<string>图标 + 标题</string>
		<key>UITableViewCellStyleSubtitle</key>
		<string>图标 + 标题(上) + 副标题(下)</string>
		<key>UITableViewCellStyleValue1</key>
		<string>图标 + 标题(左) + 副标题(右)</string>
		<key>UITableViewCellStyleValue2</key>
		<string>标题（右对齐小字） + 副标题(黑色加粗)</string>
	</dict>
	<key>UIEventSubtype</key>
	<dict>
		<key>UIEventSubtypeNone</key>
		<string>不包含任何子事件类型</string>
		<key>UIEventSubtypeMotionShake</key>
		<string>摇晃事件（从iOS3.0开始支持此事件）</string>
		<key>UIEventSubtypeRemoteControlPlay</key>
		<string>播放事件【操作：停止状态下，按耳机线控中间按钮一下】</string>
		<key>UIEventSubtypeRemoteControlPause</key>
		<string>暂停事件</string>
		<key>UIEventSubtypeRemoteControlStop</key>
		<string>停止事件</string>
		<key>UIEventSubtypeRemoteControlTogglePlayPause</key>
		<string>播放或暂停切换【操作：播放或暂停状态下，按耳机线控中间按钮一下】</string>
		<key>UIEventSubtypeRemoteControlNextTrack</key>
		<string>下一曲【操作：按耳机线控中间按钮两下】</string>
		<key>UIEventSubtypeRemoteControlPreviousTrack</key>
		<string>上一曲【操作：按耳机线控中间按钮三下】</string>
		<key>UIEventSubtypeRemoteControlBeginSeekingBackward</key>
		<string>快退开始【操作：按耳机线控中间按钮三下不要松开】</string>
		<key>UIEventSubtypeRemoteControlEndSeekingBackward</key>
		<string>快退停止【操作：按耳机线控中间按钮三下到了快退的位置松开】</string>
		<key>UIEventSubtypeRemoteControlBeginSeekingForward</key>
		<string>快进开始【操作：按耳机线控中间按钮两下不要松开】</string>
		<key>UIEventSubtypeRemoteControlEndSeekingForward</key>
		<string>快进停止【操作：按耳机线控中间按钮两下到了快进的位置松开】</string>
	</dict>
	<key>AVAuthorizationStatus</key>
	<dict>
		<key>AVAuthorizationStatusNotDetermined</key>
		<string>未进行授权选择</string>
		<key>AVAuthorizationStatusRestricted</key>
		<string>未授权，且用户无法更新，如家长控制情况下</string>
		<key>AVAuthorizationStatusDenied</key>
		<string>用户拒绝App使用</string>
		<key>AVAuthorizationStatusAuthorized</key>
		<string>已授权，可使用</string>
	</dict>
</dict>
</plist>
